/* ~/dotfiles/common/.config/waybar/style.css */
@import "colors.css";

* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font", "Inter", "Arial";
    font-weight: bold;
    font-size: 14px;
}

/* Основное окно Waybar — делаем его "плавающим" */
window#waybar {
    background: @bar_bg;
    color: @text_main;
    border-radius: 20px;
    margin: 8px 12px;
    border: 1px solid @border_light;
}

/* Контейнер воркспейсов */
#workspaces {
    background: @module_bg;
    margin: 5px;
    padding: 0px;
    border-radius: 15px;
    border: 1px solid @module_border;
}

/* Кнопки воркспейсов */
#workspaces button {
    padding: 0 15px;
    color: @text_muted;
    transition: all 0.15s cubic-bezier(0.05, 0.7, 0.1, 1);
    border-radius: 15px;
}

/* Активный воркспейс */
#workspaces button.active {
    background: @accent;
    color: @accent_text;
    border-radius: 12px;
    min-width: 40px;
    margin: 2px;
}

#workspaces button:hover {
    background: @border_light;
    color: @text_main;
}

#workspaces button.urgent {
    color: @accent;
}

/* Модули справа и слева */
#clock,
#battery,
#pulseaudio,
#tray,
#language {
    padding: 0 15px;
    margin: 5px 2px;
    background: @module_bg;
    border-radius: 15px;
    border: 1px solid @module_border;
}

/* Особый акцент на часах */
#clock {
    color: @text_main;
    background: transparent;
    border: none;
    font-size: 15px;
}

/* Иконка батареи при низком заряде */
#battery.critical:not(.charging) {
    background-color: @accent;
    color: @text_main;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-weather {
    padding: 0 15px;
    margin: 5px 2px;
    background: @module_bg;
    border-radius: 15px;
    border: 1px solid @module_border;
    color: @text_main;
}

@keyframes blink {
    to {
        background-color: @tooltip_bg;
        color: @accent;
    }
}

/* Убираем фон у трея */
#tray {
    background: transparent;
    border: none;
}

/* Тултипы */
tooltip {
    background: @tooltip_bg;
    border-radius: 10px;
    border: 1px solid @accent;
}
tooltip label {
    color: @text_main;
}
